{% extends "layout.html" %}
{% load bootstrap5 %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div>
        <h1>Listings by Category</h1>
        <ul>
          {% for listing in listings %}
          {% comment %} TODO: list category once, then stop {% endcomment %}
          {% comment %} <h2>{{ listing.category }}</h2> {% endcomment %}
            <li>
              <b><a href="{{ listing.get_absolute_url }}">{{ listing.title }}</a></b>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
